@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(23, 23, 27);
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
}
  
#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input, .input::placeholder {
	color: #646867;
	font-size: 1rem;
}

.dark-shadow {
    border-radius: 25px;
    background: #17171b;
    box-shadow:  7px 7px 14px #151519,
                 -7px -7px 14px #19191d;
}

.teal-shadow:hover {
    background: #00ffc8;
    box-shadow:  2px 2px 10px #00ebb8,
             -2px -2px 10px #00ffd8;
}

.text-shadow:hover {
    background: #232329;
    box-shadow:  2px 2px 10px #202026,
                 -2px -2px 10px #26262c;
}

.link { color: rgb(27, 117, 208); text-decoration: underline; }
.link:visited { color: rgb(57, 63, 172); }
.link:active, .link:visited:active { color: #FF0000; }