@import "tailwindcss";

@theme {
    --color-darkGrey: #232329;
    --color-tealqoise: #00ffc8;
}

/* Resets */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    cursor: auto;
}

button,
input,
textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 9. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/* 10. Smoother scroll animation */
html {
    scroll-behavior: smooth;
}